.icons-con {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}
.moon {
    color: var(--black);
    transition: 0.4s;
    cursor: pointer;
}
.moon:hover {
    scale: 1.2;
}
.solid-circles {
    display: flex;
    gap: 10px;
    margin-right: 5px;
}
.solid-circles div {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.solid-circles div:hover {
    scale: 1.2;
}