.nav-con {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #673AB7;
    color: var(--white);
}
.nav-con .page-title a {
    color: var(--white);
}
.nav-con .search-field {
    border: 2px solid var(--white);
    border-radius: 5px;
    padding: 8px 5px;
    font-family: inherit;
    font-size: 18px;
    width: 250px;
    transition: 0.2s;
}
.nav-con .search-field:focus {
    border: 2px solid var(--black);
}
.nav-con form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.create-recipe-btn {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 2px;
    padding: 10px;
    font-size: 18px;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.4s;
}
.create-recipe-btn:hover {
    background-color: var(--black);
}
.nav-con .active {
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    cursor: default;
}